.container {
  width: min(100%, 1440px);
  margin: auto;
  padding-top: 50px;
}

/* header */
header {
  background-color: #FFFFFF;
  padding: 6px 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  max-width: inherit;
  width: inherit;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.burger {
  display: none;
}

.logo {
  display: flex;
  width: 175px;
  height: 38px;
  align-items: center;
}

.logo_header {
  display: flex;
  width: 175px;
  height: 38px;
  align-items: center;
  font-family: "Pridi", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27.9px;
  text-align: left;
  color: #FA793C;
}

h5 {
  margin-left: 14px;
}

.header_right {
  display: flex;
  align-items: center;
}

.header_ul {
  display: flex;
  column-gap: 32px;
}

.header_links {
  display: flex;
  color: black;
  font-family: "ABeeZee", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.user {
  width: 24px;
  height: 24px;
  margin-left: 40px;
}

/* section1 */
.section1 {
  height: 550px;
  background-image: url("../images/section1_cover.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-inline: 130px;
}

.title1 {
font-family: "Kanit", sans-serif;
font-size: 50px;
font-weight: 400;
line-height: 75px;
text-align: center;
color: #FFFFFF;
}

.text1 {
margin-top: 20px;
font-family: "Kanit", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-align: center;
color: #FFFFFF;
}